
/* Global default Start */

body {
    font-family: "Times New Roman", Times, serif
    font-size: 14px;
    line-height: 24px;
}

h1 {
    font-family: 'Open Sans', sans-serif, 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 48px;
    
    color: #349dd1;
}

h2 {
    font-family: 'Open Sans', sans-serif, 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #349dd1;
    margin: 0 0 20px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif, 'Arial'; 
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #40A000;
    margin: 20px 0 6px 0;
}

a, a:visited, a:active {
    color: #349dd1;
}

/* Print out href after all a tags */
a[href].external:after{
    content: " [" attr(href) "] ";
    color: #666666;
}

video {
    margin: 10px 10px 5px 10px;
}

fieldset {
    border: 1px solid #cccccc;
    padding: 5px 10px;
    margin: 0 0 18px 0;
}

legend {
    font-family: 'Open Sans', sans-serif, 'Arial';
    color: #40A000;
    padding: 0 10px;
}

form input[type=text], form textarea, form select {
    border: 1px solid #DDDDDD;
    padding: 3px;
    margin: 3px;
}

form textarea {
    display: block;
}

form label {
    margin: 0 10px 0 0;
}

.left {
    float: left;
    margin-right: 15px !important;
}

.right {
    float: right;
    margin-left: 15px !important;
}

#header, #navigation, #footer {
    display: none;
}

/* Global default End */

/* Content Start */
        #content p {
            margin: 10px 0 20px;
        }
    
        #content .block_entry {
            margin: 0 0 20px 0;
            background: #f8f8f8;
            padding: 15px 15px 5px 15px;
            
            border-radius: 5px;
        }
        
            #content .block_entry h3 {
                margin: 0;
                padding: 15px 40px 0 0;
            }
            
            #content .block_entry p.author {
                margin: 0;
                padding: 5px 0 0 10px;
                color: #bbbbbb;
                font-size: 12px;
                text-align: left;
            }
    
        #content img.photo {
            padding: 10px;
            margin: 5px;
        }
        
        #content table {
            margin: 0 0 20px 0;
            background: #f8f8f8;
            border: 1px solid #f0f0f0;
        }
        
            #content table th, #content table td {
                font-size: 11px;
                padding: 0 7px;
            }
            
            #content table th {
                font-weight: bold;
            }
            
            #content table td {
                border: 1px solid #f0f0f0;
            }
        
        #content ul {
            margin: 10px 0 10px 20px;
            list-style: disc;
        }
        
        #content dl {
            margin: 10px 0;
        }
        
        #content dl dt {
            color: #40A000;
            font-family: 'Open Sans', sans-serif, 'Arial';
        }
        
        #content dl dd {
            margin: 0 0 0 15px;
        }
        
        #content li ul {
            margin: 0 0 0 20px;
        }
/* Content End */
