
/* Global default Start */

body {
    background: #fbfeff;
    
    font-family: 'Source Sans Pro', sans-serif, 'Arial';
    font-size: 14px;
    line-height: 24px;
}

h1 {
    font-family: 'Open Sans', sans-serif, 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 48px;
    
    color: #349dd1;
}

h2 {
    font-family: 'Open Sans', sans-serif, 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #349dd1;
    margin: 0 0 20px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif, 'Arial'; 
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #60C002;
    margin: 20px 0 6px 0;
}

a, a:visited, a:active {
    color: #349dd1;
}

a:hover {
    color: #74D406;
}

video {
    margin: 10px 10px 5px 10px;
}

fieldset {
    border: 1px solid #cccccc;
    padding: 5px 10px;
    margin: 0 0 18px 0;
}

legend {
    color: #60C002;
    padding: 0 10px;
}

form input[type=text], form textarea, form select {
    background: rgba(52,157,209,0.3); /* #349dd1; */
    color: #000000;
    border: 0;
    padding: 3px;
    margin: 3px;
    border-radius: 5px; 
}

form textarea {
    width: 200px;
    height: 75px;
    display: block;
}

form label {
    margin: 0 10px 0 0;
}

input[type=submit] {
    color: #ffffff;
    padding: 5px 15px;
    background: #74D406;
    border:0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.left {
    float: left;
    margin-right: 15px !important;
}

.right {
    float: right;
    margin-left: 15px !important;
}

/* Global default End */

/* Container Start */
#container {
    background: #ffffff;
    width: 820px;
    margin:  0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 5px;
    
    -webkit-box-shadow: 0px 2px 30px 0px rgba(50, 50, 50, 0.12);
    -moz-box-shadow:    0px 2px 30px 0px rgba(50, 50, 50, 0.12);
    box-shadow:         0px 2px 30px 0px rgba(50, 50, 50, 0.12);
}
/* Container End */

/* Header Start */
    #header {
        width: 820px;
        height: 170px;
        float: left;
        position: relative;
        border-bottom: 1px solid #F8F8F8;
        background: url('pics/pesola_logo.png') no-repeat;
        background-position: 5px 5px;
    }
        
        #header h1 {
            position: absolute;
            top: 50px;
            left: 330px;
        }
        
        #header p {
            position: absolute;
            top: 94px;
            left: 330px;
        }
/* Header End */

/* Navigation Start */
    #navigation {
        float: left;
        width: 180px;
        margin: 22px 0 0 0;
    }
        #navigation ul {
            margin: 0 0 0 20px;
            padding: 5px 10px;
        }
        
        #navigation ul li {
            margin: 5px 0;

            /* Set white marker background */
            background: url('pics/icons_menu.png') top left no-repeat;
            background-position: -6px -307px;

            background-color: #f8f8f8;            
            border-radius: 5px;
            
            float: left;
            clear: both;
        }
        
            #navigation ul li.active {
                background-color: #74D406;
            }
            
            #navigation ul li.active a {
                color: #FFFFFF;
                background-color: #74D406;
            }

            #navigation ul li a {
                display: block;
                padding: 5px 10px 5px 47px;
                text-decoration: none;
                
                background: url('pics/icons_menu.png') top left no-repeat;
                background-color: #f8f8f8;
                border-radius: 5px;
                
                transition: margin-left 0.2s ease-in-out, color 0.4s ease-in-out; /* CSS3 Animation */
            }

            #navigation ul li a:hover {
                margin-left: 15px;
            }
        
        /* Background images and Hover effects for menu list START */
            #navigation ul li a.startpage {
                background-position: 0 -4px;
            }
                #navigation ul li a.startpage:hover {
                    background-position: 0 -152px;
                }
            
            #navigation ul li a.laborations {
                background-position: 0 -38px;
            }
                #navigation ul li a.laborations:hover {
                    background-position: 0 -187px;
                }
            
            #navigation ul li a.presentation {
                background-position: 0 -77px;
            }
                #navigation ul li a.presentation:hover {
                    background-position: 0 -226px;
                }
            
            #navigation ul li a.contact {
                background-position: 0 -113px;
            }
            
                #navigation ul li a.contact:hover {
                    background-position: 0 -262px;
                }
        /* Background images and Hover effects for menu list END */

/* Navigation End */

/* Content Start */
    #content {
        margin: 24px 20px 20px 0;
        width: 590px;
        float: right;
    }
    
        #content p {
            margin: 10px 0 20px;
        }
    
        #content .block_entry {
            margin: 0 0 20px 0;
            background: #f8f8f8;
            padding: 15px 15px 5px 15px;
            
            border-radius: 5px;
        }
        
            #content .block_entry h3 {
                margin: 0;
                padding: 15px 40px 0 0;
                background: url('pics/h3_gfx_mirrorred.png') top right no-repeat;
                
                position: relative;
                top: -15px;
                left: 15px;
            }
            
            #content .block_entry p.author {
                margin: 0;
                padding: 5px 0 0 10px;
                color: #bbbbbb;
                font-size: 12px;
                border-top: 1px solid #eeeeee;
                text-align: right;
            }
    
        #content img.photo {
            border-radius: 2px;
            padding: 10px;
            background: #FFFFFF;
            margin: 5px;
            
            -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.15);
            -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.15);
            box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.15);
        }
        
        #content table {
            margin: 0 0 20px 0;
            background: #f8f8f8;
            border: 1px solid #f0f0f0;
        }
        
            #content table th, #content table td {
                font-size: 11px;
                padding: 0 7px;
            }
            
            #content table th {
                font-weight: bold;
            }
            
            #content table td {
                background: #FFFFFF;
                border: 1px solid #f0f0f0;
            }
        
        #content ul {
            margin: 10px 0 10px 20px;
            list-style: disc;
        }
        
        #content dl {
            margin: 10px 0;
        }
        
        #content dl dt {
            color: #60C002;
        }
        
        #content dl dd {
            margin: 0 0 0 15px;
        }
        
        #content li ul {
            margin: 0 0 0 20px;
        }
/* Content End */

/* Footer Start */
#footer {
    height: 80px;
    width: 720px;
    clear: both;
}
/* Footer End */