body {
    background: #fbfeff;
    
    font-family: 'Source Sans Pro', sans-serif, 'Arial';
    font-size: 14px;
    line-height: 24px;
}

h1 {
    font-family: 'Open Sans', sans-serif, 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 48px;
    
    color: #349dd1;
}

h2 {
    font-family: 'Open Sans', sans-serif, 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #349dd1;
    margin: 0 0 20px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif, 'Arial'; 
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #60C002;
    margin: 20px 0 6px 0;
}

a, a:visited, a:active {
    color: #349dd1;
}

a:hover {
    color: #74D406;
}

video {
    margin: 10px 10px 5px 10px;
}

fieldset {
    border: 1px solid #cccccc;
    padding: 5px 10px;
    margin: 0 0 18px 0;
}

legend {
    color: #60C002;
    padding: 0 10px;
}

form input[type=text], form textarea, form select {
    background: rgba(52,157,209,0.5); /* #349dd1; */
    color: #ffffff;
    border: 0;
    padding: 3px;
    margin: 3px;
    border-radius: 5px; 
}

form textarea {
    width: 200px;
    height: 75px;
    display: block;
}

input[type=submit] {
    color: #ffffff;
    padding: 5px 15px;
    background: #74D406;
    border:0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


#container {
    background: #ffffff;
    width: 720px;
    margin:  0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    border-radius: 5px;
    
    -webkit-box-shadow: 0px 2px 30px 0px rgba(50, 50, 50, 0.12);
    -moz-box-shadow:    0px 2px 30px 0px rgba(50, 50, 50, 0.12);
    box-shadow:         0px 2px 30px 0px rgba(50, 50, 50, 0.12);
}

#header {
    width: 720px;
    height: 170px;
    float: left;
    position: relative;
    border-bottom: 1px solid #F8F8F8;
}

    #header img {
        position: absolute;
        top: 5px;
        left: 5px;
    }
    
    #header h1 {
        position: absolute;
        top: 50px;
        left: 330px;
    }
    
    #header p {
        position: absolute;
        top: 94px;
        left: 330px;
    }

#navigation {
    float: left;
    width: 200px;
    margin: 22px 0 0 0;
}
    #navigation ul {
        margin: 0 0 0 20px;
        padding: 5px 10px;
    }
    
    #navigation ul li {
        margin: 5px 0;
        background: #f8f8f8;
        border-radius: 5px;
        
        float: left;
        clear: both;
    }
    
    #navigation ul li.active {
        background: #74D406;
    }
    
    #navigation ul li.active a {
        color: #FFFFFF;
    }
    
    #navigation ul li a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
    }

#content {
    margin: 24px 20px 20px 0;
    width: 470px;
    float: right;
}

    #content p {
        margin: 10px 0;
    }

    #content .block_entry {
        margin: 0 0 20px 0;
        background: #f8f8f8;
        padding: 15px;
        
        border-radius: 5px;
    }
    
    #content .entry_block h3 {
        margin-top: 0;
    }

    #content img.photo {
        border-radius: 2px;
    }
    
    #content table {
        margin: 0 0 20px 0;
        background: #f8f8f8;
        border: 1px solid #f0f0f0;
    }
    
        #content table th, #content table td {
            font-size: 11px;
            padding: 0 7px;
        }
        
        #content table th {
            font-weight: bold;
        }
        
        #content table td {
            background: #FFFFFF;
            border: 1px solid #f0f0f0;
        }
    
    #content ul {
        margin: 10px 0 10px 20px;
        list-style: disc;
    }
    
    #content dl {
        margin: 10px 0;
    }
    
    #content dl dt {
        color: #60C002;
    }
    
    #content dl dd {
        margin: 0 0 0 15px;
    }
    
    #content li ul {
        margin: 0 0 0 20px;
    }
    
#footer {
    height: 80px;
    width: 720px;
    clear: both;
}