body {
    background: #ffffff;
}

#container {
    width: inherit;
    
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
    
    header {
        width: 100%;
        
        background-size: 250px;
        background-position: 0 0;
        margin: 0;
        
        height: 155px;
        
    }

        header h1 {
            font-size: 22px;
            left: 280px;
            top: 40px;
        }
        header p {
            left: 280px;
            top: 80px;
            font-size: 14px;
        }
    
    nav {
        margin: 0;
        padding: 0;
        width: 100%;
    }
        
    nav ul {
        padding: 0;
        margin: 20px 0 0 0;
        float: left;
        clear: both;
    }
    
        nav ul li {
            margin: 2px;
            clear: none;
        }
            nav ul li a {
                padding: 5px 4px 5px 40px;
            }
            
            nav ul li a:hover {
                margin: 0;
            }
    
    main {
        width: 90%;
        float: left;
        margin: 20px 10px 0 10px;
    }
    
        main article
        {
            width: 400px;
            margin: 20px;
        }
        
        main h2 {
            /* margin: 0 0 20px 20px; */
        }

    footer {
        width: 100%;
    }
