body {
    background: #ffffff;
}

#container {
    width: inherit;
    
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
    #container #header {
        width: 100%;
        
        background-size: 200px;
        background-position: 0 0;
        margin: 0;    
        
        height: 155px;
        
        border-bottom: 0;
    }

        #container #header h1 {
            font-size: 18px;
            top: 111px;
            left: 20px;
        }
        #container #header p {
            top: 94px;
            left: 20px;
            color: #eeeeee;
            font-size: 14px;
        }
    
    #container #navigation {
        margin: 0;
        padding: 0;
        width: 100%;
    }
        
    #container #navigation ul {
        padding: 0;
        margin: 0px;
        float: left;
        clear: both;
    }
    
        #container #navigation ul li {
            background: none;
            background-position: 0;
            border-radius: 0;
            padding: 0;
            margin: 3px;
            clear: none;
        }
            #container #navigation ul li a {
                padding: 3px;
                background-image: none;
                transition: none;
            }
            
            #navigation ul li a:hover {
                margin: 0;
            }
    
    #container #content {
        width: 100%;
        margin: 0;
        float: left;
        clear: both;
    }
        #container #content h2 {
            font-size: 24px;
            margin: 20px 10px 10px 10px;
        }
        
        #container #content h3, #container #content ul, #container #content ol, #container #content dl, #container #content p {
            margin-left: 10px;
            margin-right: 5px;
        }
        
        #container #content li {
            margin-left: 16px;
        }
        
        #container #content .block_entry {
            border-radius: 0;
        }
        
            #container #content .block_entry h3 {
                font-size: 20px;
                position: static;
                top: 0;
                left: 0;
                background: none;
                clear: both;
            }
            
            #container #content .block_entry img {
                max-width: 180px;
            }
            
            #container #content .block_entry video {
                margin: 0;
                width: 280px;
            }
            
        
    #container #footer {
        width: 100%;
        height: 20px;
    }
    