body {
    background: #ffffff;
}

#container {
    width: inherit;
    
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
    header {
        width: 100%;
        
        background-size: 200px;
        background-position: 0 0;
        margin: 0;    
        
        height: 155px;
        
        border-bottom: 0;
    }

        section.vcard {
            display: none;
        }

        header h1 {
            font-size: 18px;
            top: 111px;
            left: 20px;
        }
        header p {
            top: 94px;
            left: 20px;
            color: #eeeeee;
            font-size: 14px;
        }
    
    nav {
        margin: 0;
        padding: 0;
        width: 100%;
    }
        
    nav ul {
        padding: 0;
        margin: 0px;
        float: left;
        clear: both;
    }
    
        nav ul li {
            background: none;
            background-position: 0;
            border-radius: 0;
            padding: 0;
            margin: 3px;
            clear: none;
        }
            nav ul li a {
                padding: 3px;
                background-image: none;
                transition: none;
            }
            
            nav ul li a:hover {
                margin: 0;
            }
    
    main {
        width: 100%;
        margin: 0;
        float: left;
        clear: both;
    }
        main h2 {
            font-size: 24px;
            margin: 20px 10px 10px 10px;
        }
        
        main h3, main ul, main ol, main dl, main p {
            margin-left: 10px;
            margin-right: 5px;
        }
        
        main li {
            margin-left: 16px;
        }
        
        main article {
            border-radius: 0;
        }
        
            main article h3 {
                font-size: 20px;
                position: static;
                top: 0;
                left: 0;
                background: none;
                clear: both;
            }
            
            main article img {
                max-width: 180px;
            }
            
            main article video {
                margin: 0;
                width: 280px;
            }
            
        
    footer {
        width: 100%;
        height: 20px;
    }
    